<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.pay.ICBCPayPlugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>ICBCPayPlugin</name>
  <js-module name="ICBCPayPlugin" src="www/ICBCPayPlugin.js">
    <clobbers target="ICBCPayPlugin"/>
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="ICBCPayPlugin">
        <param name="ios-package" value="ICBCPayPlugin"/>
      </feature>
    </config-file>
    <header-file src="src/ios/ICBCPayPlugin.h"/>
    <source-file src="src/ios/ICBCPayPlugin.m"/>
    <resource-file src="src/ios/ICBCPaySDK.bundle"/>
    <framework custom="true" src="src/ios/ICBCPaySDK.framework"/>
    <framework src="UIKit.framework"/>
  </platform>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="ICBCPayPlugin">
        <param name="android-package" value="com.pay.ICBCPayPlugin.ICBCPayPlugin"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <source-file src="src/android/ICBCPayPlugin.java" target-dir="src/com/pay/ICBCPayPlugin"/>
    <source-file src="src/android/PayResultHandler.java" target-dir="src/com/icbc/pay"/>
    <source-file src="src/android/ICBCPaySDK-V3.0-proguard.jar" target-dir="libs" />
  </platform>
</plugin>